.files-type{
    display: flex;
    align-items: center;
   
}
.file-type{
    margin-right: 50px;
    color:#6c757d;
    margin-left: 20px;
}
.file{
    margin-right: 50px;
    color:#000000;
    margin-left: 20px;
    border-bottom: #0fafa7 3px solid;
}