.files-type{
    display: flex;
    align-items: center;
   
}
.file-type{
    margin-right: 50px;
    color:#9fabb6;
    margin-left: 20px;
}
.file{
    margin-right: 50px;
    color:#000000;
    margin-left: 20px;
    border-bottom: #0d80c7 3px solid;
   
}
h1{
    font-weight: 700
}